<div class="row">

  <div class="col-4">
    <label>ENCARGADO</label>
    <select class="form-control">
      <option value="">-SELECCIONE-</option>
      <option value="1">FELIPE OÑATE V.</option>
      <option value="2">RAFAEL MATAMALA P.</option>
      <option value="3">VICTOR ABARZUA</option>
  </select>
  </div>

  <div class="col-4">
    <label>CARGO</label>
    <select class="form-control">
      <option value="">-SELECCIONE-</option>
      <option value="1">OPERACIONES</option>
      <option value="2">GERENTE</option>
      <option value="3">JEFE AREA MANTENCION</option>
  </select>
  </div>
  <div class="col-4">
    <label>ESTADO</label>
    <select class="form-control">
        <option value="">-SELECCIONE-</option>
        <option value="1">ELABORO</option>
        <option value="2">REVISO</option>
        <option value="3">APROBO</option>
    </select>
  </div>

</div>

<div class="row">
  <div class="col-4">
    <label>EMPRESA</label>
    <select class="form-control">
        <option value="">-SELECCIONE-</option>
        <option value="1">CMPC PLANTA SANTA FE</option>
        <option value="2">ARAUCO</option>
        <option value="3">CODELCO</option>
    </select>
  </div>

  <div class="col-4">
    <label>TITULO PORTADA</label>
    <input class="form-control" type="text" placeholder="INGRESE TITULO">
  </div>

  <div class="col-4">
    <button type="button" class="btn btn-primary mt-4 w-100">GUARDAR Y CONTINUAR</button>
  </div>
</div>
