<div class="card border-dark row m-5 text-center">
  <div class="card-body">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="text-center mt-1">EMPRESA</h3>
      <button type="button" class="btn btn-volver" routerLink="/auth/home"><i
              class="fas fa-arrow-left icon-blue"></i>
          Volver</button>
  </div>

    <div class="row m-5 text-center">
      <div class="col-6">
        <div class="card pointer" [routerLink]="['/auth/empresa/formulario']" routerLinkActive="router-link-active" >
          <div class="card-body">
            <h5 class="card-title">FORMULARIO</h5>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card pointer" [routerLink]="['/auth/empresa/listado']" routerLinkActive="router-link-active">
          <div class="card-body">
            <h5 class="card-title">LISTADO</h5>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

