<div class="row">

  <div class="col-4">
    <label>LOGO INTERNO</label>
    <input class="form-control" type="file" id="formFile">
  </div>

  <div class="col-4">
    <label>TITULO CABECERA</label>
    <input class="form-control" type="text" placeholder="INGRESE TITULO">
  </div>
  <div class="col-4">
    <label>VERSION</label>
    <input class="form-control" type="text" placeholder="INGRESE VERSION">
  </div>

</div>

<!-- <div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary mt-4 w-100">GUARDAR Y CONTINUAR</button>
  </div>
</div> -->
