<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="text-center mt-1">FORMULARIO CONTRATO</h3>
          <button type="button" class="btn btn-volver" routerLink="/auth/contrato"><i
              class="fas fa-arrow-left icon-blue"></i>
            Volver</button>
        </div>
        <div class="card-body">

          <div class="row">

            <div class="col-12">
              <label class="fw-bold">PLANTILLA</label>
              <select class="form-control">
                  <option value="">-SELECCIONE-</option>
                  <option value="1">INFORME DE MANTENIMIENTO CMPC PULP SPA. PLANTA SANTA FE</option>
                  <option value="2">INFORME DE MANTENIMIENTO ARAUCO</option>
                  <option value="3">INFORME DE MANTENIMIENTO CODELCO</option>
              </select>
            </div>

          </div>

          <hr>

          <div class="row">
            <label class="text-center fw-bold">DETALLE PORTADA</label>
            <div class="col-4">
              <label>PEDIDO COMPRAS</label>
              <input class="form-control" type="text" placeholder="INGRESE PEDIDO">
            </div>
            <div class="col-4">
              <label>FECHA</label>
              <input class="form-control" type="date" placeholder="INGRESE FECHA">
            </div>
            <div class="col-4">
              <label>SERVICIO</label>
              <input class="form-control" type="text" placeholder="INGRESE SERVICIO">
            </div>
            <div class="col-4">
              <label>OC</label>
              <input class="form-control" type="text" placeholder="INGRESE OC">
            </div>
          </div>

          <hr>

          <div class="row">

            <div class="col-4">
              <label>ENCARGADO</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">FELIPE OÑATE V.</option>
                <option value="2">RAFAEL MATAMALA P.</option>
                <option value="3">VICTOR ABARZUA</option>
            </select>
            </div>

            <div class="col-4">
              <label>CARGO</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">OPERACIONES</option>
                <option value="2">GERENTE</option>
                <option value="3">JEFE AREA MANTENCION</option>
            </select>
            </div>
            <div class="col-4">
              <label>ESTADO</label>
              <select class="form-control">
                  <option value="">-SELECCIONE-</option>
                  <option value="1">ELABORO</option>
                  <option value="2">REVISO</option>
                  <option value="3">APROBO</option>
              </select>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-12">
              <label>NOMBRE DE ACTIVIDAD (OBJETIVO)</label>
              <input class="form-control" type="text" placeholder="INGRESE OBJETIVO">
            </div>
          </div>

          <hr>

          <div class="row">
            <label class="text-center fw-bold">PERSONAL ADMINISTRATIVO</label>
            <div class="col-4">
              <label>PERSONAL</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">YOLANDA ALARCON GRANDON</option>
                <option value="2">RAFAEL MATAMALA P.</option>
            </select>
            </div>
            <div class="col-4">
              <label>CARGO</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">Experto en Prevención de Riesgos</option>
                <option value="2">Administrador de Contratos</option>
            </select>
            </div>
            <div class="col-4">
              <label>N° REGISTRO</label>
              <input class="form-control" type="text" placeholder="INGRESE N° REGISTRO">
            </div>
            <div class="col-4">
              <label>TELEFONO</label>
              <input class="form-control" type="text" placeholder="INGRESE TELEFONO">
            </div>
            <div class="col-4">
              <label>EMAIL</label>
              <input class="form-control" type="text" placeholder="INGRESE EMAIL">
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-primary mt-4 w-100">AGREGAR</button>
            </div>
          </div>

          <hr>

          <div class="row">
            <label class="text-center fw-bold">PERSONAL TERRENO</label>
            <div class="col-4">
              <label>PERSONAL</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">FELIPE OÑATE VARELA</option>
                <option value="2">JOEL ALARCON ALARCON </option>
                <option value="3">JAVIER PEREZ ASTETE </option>
                <option value="4">GABRIEL VERGARA GALLARDO </option>
                <option value="5">PAOLO MATAMALA NOVOA</option>
            </select>
            </div>
            <div class="col-4">
              <label>CARGO</label>
              <select class="form-control">
                <option value="">-SELECCIONE-</option>
                <option value="1">SUPERVISOR</option>
                <option value="2">ELECTRICISTA M1 </option>
                <option value="3">AYUDANTE
                  ELECTRICISTA</option>
            </select>
            </div>
            <div class="col-4">
              <label>TIEMPO EN OBRA</label>
              <input class="form-control" type="text" placeholder="INGRESE TIEMPO EN OBRA">
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-4">
              <button type="button" class="btn btn-primary mt-4 w-100">AGREGAR</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
