<div class="row">

  <div class="col-6">
    <div class="form-group">
      <label for="my-textarea">OBEJTIVO</label>
      <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="my-textarea">ALCANCE</label>
      <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="my-textarea">REFERENCIAS</label>
      <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label for="my-textarea">DEFINICIONES</label>
      <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
  </div>
  <div class="col-12">
    <div class="form-group">
      <label for="my-textarea">DESCRIPCION DEL TRABAJO (RESPONSABILIDADES)</label>
      <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
    </div>
  </div>

</div>

<div class="row justify-content-center">
  <div class="col-4">
    <button type="button" class="btn btn-primary mt-4 w-100">FINALIZAR</button>
  </div>
</div>
